<html>
	<body>
		<div class="colorbox-manual">
			<img src="assets/about.jpg" style="width: 1280px; height: 250px"/>
		</div>
		<div class="wrapper content innerpages">
			<div class="wrapperin">
				<h1 class="entry-title">About Us</h1>		    
				<p>Over a period of time, catering to a wide spectrum of guests and visitors we have realized comfort is not a one word definition. It is a phenomenon. It is about warmth, association and about pleasant surprises. At Hoteliers, we have tried to combine the essence of comfort with specialised services. Every room is designed to the taste and reflects an emotional bonding culminating into an experience par words. As a guest in our hotel you will find our spacious rooms to be well appointed with all of the extras you expect in hotels with completely automated hot/ cold rooms. Today we have fully furnished rooms with all wooden flooring, roofing to choose from. All equipped with modern and ultra convenient facilities.</p><br>
				<p>Where words fail to deliver, where creativity falls in love with the mystique surroundings. This is what the charismatic beauty of Manali is all about. And while you will find some time to visit some of the most cherished places in and around Manali, there will be host of other places waiting for your arrival ready to enthral you with divine supremacy of Nature. Every carved mountain and every leaf on the lush green tree will share an interesting anecdote. From free flowing rivers to snow surrounded mountains, from a lonely stretch to immensely inhibited forest land, every single chapter of this interesting volume called Manali will mystify you to the core. Come enjoy the widespread beauty of MANALI.</p>
				<div class="ablutleft">
					<ul>
						<li>Modern Bath rooms with running hot and cold water.</li>
						<li>Mineral Water.</li>
						<li>Well appointed Room.</li>
						<li>LCD with individual dish connection.</li>
						<li>Internet access.</li>
						<li>Access to GYM facilities.</li>
						<li>News Paper in the lobby.</li>
						<li>Tea/Coffee maker in room.</li>
						<li>Bath tub in honeymoon suite</li>
						<li>Jacuzzi.</li>
						<li>Steam Bath.</li>
						<li>Sauna.</li>
						<li>Pool Table.</li>
						<li>In-house Disco.</li>
						<li>Musical fountain in the lobby.</li>
						<li>Showers in bathrooms.</li>
						<li>In house laundry.</li>
						<li>Slippers in rooms.</li>
					</ul>
				</div>
				<div class="ablutright"><img class="colorbox-7"  src="assets/aboutus1.jpg"></div>
				<div class="clear"></div>
			</div>
		</div>
			<footer>
				<p class="titletext" > Contact Us</p>
				<p class="firstline"><span class="italic">Get in touch with Hoteliers</span></p>
				<div class="linkbox">
					<p><img src="assets/call.png" /><br>
					Call Us: +91 89265 5XXXX<br> +91 89260 5XXXX, +91 89264 5XXXX</p>
				
				</div>
				<div class="linkbox">
					<p><img src="assets/address.png" /><br>
						NH-21, Near Green Tax Barrier,<br> Aluground, Manali, Kullu, 175131, (H. P.)
					</p>
				</div>
				<div class="linkbox">
					<p><img src="assets/email.png" /><br>Email Us<br> info@Hoteliers.com
					</p>
				</div>
				<div class="clear"></div>
				
			</footer>			
		</body>
</html>

