<html>
	<head>
		<title> Hotel Website | About</title>
		
	</head>
	<body>
		<div style="width: 100%; height: 100px; float: full; background: url(../assets/box1.png);">
		<!---start-Wrap--->
			<!---start-header--->
			<div class="header">
				<div class="wrap">
					<div class="header-top">
						
						<div class="clear"> </div>
					</div>
				</div>
				<div class="header-top-nav">
					
				</div>
			</div>
		</div>
			<!---End-header--->
			<div class="clear"> </div>
        <div style="width: 100%; height:558px; float: full; background: url(../assets/box-bg.png);">
		<div class="content">
				<div class="wrap">
			<!---start-content----->
		<div class="about">
				<div class="about-grids">
					<div class="about-grid">
						<h3>About Our Hotel</h3>
						<a href="#"><img src="assets/slider1.jpg" title="about"></a>
						<span>"Description about your hotel"</span>
						<p> Feel like home.</p>
						<a class="button1" href="#">Read More</a>
					</div>
					<div class="about-grid center-grid1">
						<h3>WHY CHOOSE US?</h3>
						<p>Your Description Here</p>
						<label>Label Heading </label>
						<p>Your Description</p>
						<label>Label heading</label>
						<p>Your Description</p>
					</div>
					<div class="about-grid last-grid">
						<h3>Our Hotel's Staff Info.</h3>
						<div class="about-team">
							<div class="client">
								<div class="about-team-left">
									<a href="#"><img src="assets/c1.jpg" title="client-name"></a>
								</div>
								<div class="about-team-right">
									<p> Staff's Description</p>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="client">
								<div class="about-team-left">
									<a href="#"><img src="assets/c2.jpg" title="client-name"></a>
								</div>
								<div class="about-team-right">
									<p>Staff's Description</p>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="client">
								<div class="about-team-left">
									<a href="#"><img src="assets/c1.jpg" title="client-name"></a>
								</div>
								<div class="about-team-right">
									<p>Staff's Description</p>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="client">
								<div class="about-team-left">
									<a href="#"><img src="assets/c2.jpg" title="client-name"></a>
								</div>
								<div class="about-team-right">
									<p>Staff's Description</p>
								</div>
								<div class="clear"> </div>
							</div>
						</div>
					</div>
					<div class="clear"> </div>
				</div>
			</div>
		</div>
			<div class="clear"> </div>
		<div style="width: 100%; height:275px; float: full; background: url(../assets/box.png);">

				<div class="boxs">
				<div class="wrap">
				<div class="box">
			
				</div>
				<div class="box center-box">
					<ul>
						<li><a href="#"><img src="assets/marker.png">Leave a Feedback</a></li>
						<li><a href="#"><img src="assets/marker.png">Reviews and Ratings</a></li>
						<li><a href="#"><img src="assets/marker.png">FAQs</a></li>
						<li><a href="#"><img src="assets/marker.png">Packages</a></li>
						<li><a href="#"><img src="assets/marker.png">Know about Moutaineering and trekking here</a></li>
					</ul>
				</div>
				<div class="box">
					
				</div>
				<div class="clear"> </div>
			</div>
			<!---start-box---->
		</div>
		<!---start-copy-Right----->
		<div class="copy-tight">
			<p> HOTELIERS,LUCKNOW  "THIS PROJECT IS BROUGHT TO YOU BY <a href="http://#/">HOTELIERS"</a></p>
		</div>
		<!---End-copy-Right----->
		</div>
			<!---End-content----->
		</div>
	</div>
		<!---End-Wrap--->
			
	
			
	</body>
</html>