<html>

<head>
	<style>
		div {
			text-align: right;

		}

		p {
			text-align: justify;
			color: darkblue;
		}

		tr>*+* {
			padding-left: 4em;
			align-content: right;
		}
	</style>
</head>

<body>

	<img [src]="imgpath1">
	<div>
		<img [src]="phone"><b> CALL US : </b><a><b>7263037654</b></a><br><br>

		<img [src]="pointer"><b> GPA : </b><a><b> View Map </b></a>
	</div>

	<br><br>
	<div class="new">
	<img [src]="slider3">
	</div>
	<br><br>

	<b>
		<h1>" YOUR HOTEL'S MOTTO "</h1><br>
	</b>
	<div class="center1">


	</div>

	<hr>
	<br><br>
	<table>
		<thead>
			<tr>
				<th><img [src]="icon1"></th>
				<h3>BEST FOOD EVER</h3>
				<b>"DESCRIPTION"</b><br>
				<p>Whether you crave gourmet pasta, a club sandwich, or an aromatic curry, head for The Creative
					Kitchen, our globally inspired restaurant open for breakfast, lunch, and dinner. An extensive buffet
					offers artfully prepared options to please any palate, and an la carte menu provides even more
					choices to suit your tastes. </p>

				<th><img [src]="icon2"></th>
				<h3>24X7 PHONE SUPPORT</h3>
				<b>"DESCRIPTION"</b><br><br>
				<b>General</b>
				<p>+917126665888 info@hoteliers.com<br><br></p>
				<b>Reservations:</b>
				<p>18001080333 DelhiReservationsCentre@hoteliers.com
				</p>
				<th><img [src]="iocn3"></th>
				<h3>BEST ROOM SERVICES</h3>
				<b>"DESCRIPTION"</b><br>
				<p>For a special occasion or a memorable getaway, book this elegant suite featuring a spacious living
					room with plenty of comfortable seating and a dining area. You can hold informal meetings or host
					friends and family for a delicious dinner from our 24-hour room service.</p>
			</tr>
		</thead>
	</table>


	<br><br><br>
	<hr>


	<!--*******************************************-->
	<div class="center">
		<h1>Welcome to our Hotel</h1>
	</div>
	<div class="center">
		<h3>' Feel Like Home :)<br><br></h3>
	</div>

	<div class="center"><b>Hotel's Description</b></div><br><br>
	<a>Whatever brings you, carve out time to relax by our outdoor pool. When it comes to enticing food and drink, the
		Hoteliers has you covered with authentic local specialties and creative international dishes at our four
		distinctive restaurants. Our extensive indoor and outdoor event spaces are an elegant choice for business or
		social gatherings. A spacious desk makes it easy to prepare for meetings, and at the end of each day, you can
		kick back with a drink from the minibar and a movie on the flat-screen TV. For even more perks like a bathrobe
		and slippers and a whirlpool, book a Business Class Room or one of our suites.
	</a>

	<div class="center">
		<h2>FOR MORE INFORMATION ABOUT OUR HOTEL, CALL - 7263037654 </h2>
	</div>
	<hr>
	<br>
	<p>TO DAYS SPECIALS</p>
	<br>
	<img [src]="offer1">
	<br>

	<h3>SUPER DISCOUNT OFFER</h3>
	<b>"DESCRIPTION"</b><br><br>
	A spacious desk makes it easy to prepare for meetings, and at the end of each day, you can kick back with a drink
	from the minibar and a movie on the flat-screen TV. For even more perks like a bathrobe and slippers and a
	whirlpool, book a Business Class Room or one of our suites.



	<br><br>
	<hr>
	<br><br>
	<table>
		<thead>
			<tr>
				<th>
					<h3>DELUXE ROOMS</h3>
				</th>

				<img [src]="sss1"><br><br>
				<p>Start the next morning with an invigorating rain shower and a fresh cup of coffee or tea brewed in
					your room. You can pull up to the spacious work desk to finalize your schedule using free Wi-Fi and
					then secure your valuables in the electronic safe before you head out.</p>
				<th>
					<h3>LUXURY ROOMS</h3>
				</th>

				<img [src]="ss2"><br><br>
				<p>Perfect for longer stays, these thoughtfully decorated rooms offer more space than Superior Rooms and
					a choice of two twin beds or one king bed. In the morning, brew coffee or tea in your room before
					you head out or order breakfast in bed through our 24-hour room service.</p>

				<th>
					<h3>EXECUTIVE ROOMS</h3>
				</th>

				<img [src]="ss3"><br><br>
				<p> Upgrade to one of our Executive Class Rooms for access to the exclusive Business Class lounge, where
					you can enjoy complimentary beverages and snacks. Other amenities include a complimentary breakfast,
					airport transfers, and express check-in and check-out.</p>
				<br><br>
			</tr>
		</thead>
	</table>

	<!--***************************-->

	<hr>
	<div class="center">
		<h2>Thank You for Connecting with us..!</h2><br>
	</div>
	<div class="center">

		<div class="cl"><b>******Contact Us On******</b></div>
	</div>
	<div class="center">
		<table>
			<tr>
				<th>
					<h3>Call :</h3>
				<th>7263037654
				</th>
				<th>
					<h3>Email :</h3>
				<th>hoteliers@gmail.com
				</th>
			</tr>
		</table>
	</div>
	<br>

</body>

</html>
