<html>

<head></head>

<body>
	
	<h2 align="center">Our Hotel Services</h2>
	<br>
	<h3>Experience the comfort and elegance of our five-star hotel rooms</h3>

	<p>At the Radisson Blu Hotel, each of our 214 rooms and suites features
		soothing color palettes, stylish, modern furnishings, and five-star amenities to
		create a tranquil haven for our guests. Lie back on plush bedding to watch the 42-inch
		flat-screen TV, or stream relaxing music using free Wi-Fi. Hungry after a late flight?
		Order something tasty from our 24-hour room service. Upgrade to one of our 23 suites for
		extra space and indulgent amenities like a bathrobe and slippers and a whirlpool. If
		you are traveling for business, we offer two dedicated Business Class floors with easy
		access to the Business Class lounge.</p>

	<h4>Accessibility features</h4>
	<p>We understand that accessibility is important to our guests. Please contact the hotel to
		confirm if an accessible room will meet your needs or if you have other questions.</p>
	<hr><br>

	<img [src]="imgpath1" length=350 width=350 />
	<img [src]="imgpath" length=350 width=350 />
	<img [src]="imgpath7" length=350 width=350 />
	<br><br>
	<img [src]="imgpath2" length=350 width=350 />
	<img [src]="imgpath3" length=350 width=350 />
	<img [src]="imgpath8" length=350 width=350 />
	<br><br>
	<hr>

	<div class="center">
	<h3 align="center">Room Types</h3>

	<img [src]="imgpath4" length=350 width=350 align="left" />
	<h4>Superior Rooms</h4>
	<p>After flying into the Nagpur airport, sink back on the king bed or ease into the plush
		armchair in our Superior Room. You can mix yourself a cocktail from the in-room minibar
		before selecting a movie on the flat-screen TV. Start the next morning with an
		invigorating rain shower and a fresh cup of coffee or tea brewed in your room. You can
		pull up to the spacious work desk to finalize your schedule using free Wi-Fi and then
		secure your valuables in the electronic safe before you head out. These accommodations
		also feature a large wardrobe to keep your business attire wrinkle-free.</p>
		<img [src]="imgpath10" length=40 width=40 align="left" />
		<img [src]="imgpath11" length=40 width=40 align="left" />
		<img [src]="imgpath12" length=40 width=40 align="left" />
		<img [src]="imgpath13" length=40 width=40 align="left" />
		<img [src]="imgpath14" length=40 width=40 align="left" />
	<br><br><br><br><br>

	<h4>Deluxe Rooms</h4>
	<img [src]="imgpath5" length=350 width=350 align="right" />
	<p>Perfect for longer stays, these thoughtfully decorated rooms offer more space than Superior
		Rooms and a choice of two twin beds or one king bed. In the morning, brew coffee or tea in
		your room before you head out or order breakfast in bed through our 24-hour room service.
		A professional hair dryer and an iron ensure you look perfectly put together for business
		appointments or an event in our elegant venue. After a busy day, relax with a drink from
		the minibar and watch a show on the flat-screen TV. Accessible room options are available.</p>
		<div class="center">
		<img [src]="imgpath10" length=40 width=40 align="right" />
		<img [src]="imgpath11" length=40 width=40 align="right" />
		<img [src]="imgpath12" length=40 width=40 align="right" />
		<img [src]="imgpath13" length=40 width=40 align="right" />
		<img [src]="imgpath14" length=40 width=40 align="right" />
		</div>
	<br><br><br><br><br><br>

	<img [src]="imgpath6" length=350 width=350 align="left" />
	<h4>Business Class Rooms</h4>
	<p>On a corporate trip? Upgrade to one of our Business Class Rooms for access to the exclusive
		Business Class lounge, where you can enjoy complimentary beverages and snacks. These
		accommodations also include a four-fixture bathroom with a rain shower and a whirlpool to
		minimize stress. Other amenities include a complimentary breakfast, airport transfers,
		and express check-in and check-out. Opt for one king bed for a solo trip or two twin beds
		if you are sharing expenses with a colleague. All standard amenities are included.</p>
		
		<img [src]="imgpath10" length=40 width=40 align="left" />
		<img [src]="imgpath11" length=40 width=40 align="left" />
		<img [src]="imgpath12" length=40 width=40 align="left" />
		<img [src]="imgpath13" length=40 width=40 align="left" />
		<img [src]="imgpath14" length=40 width=40 align="left" />
	<br><br><br><br><br><br><br><br>
	<hr>
	<!--<h3 align="center">Amenities</h3>
		<img [src]="imgpath15" length=350 width=350 align="right" />
		
	<hr><br>-->
	<h3 align="center">Meeting and Events</h3>
	<img [src]="imgpath9" length=350 width=350 align="left" />
	<h4>Host a flawless event in our flexible meeting rooms</h4>
	<p>Spanning more than 1,400 square meters (15,069 square feet), the event facilities at the 
		Radisson Blu Hotel are ideal for grand social galas and large corporate conferences. Our 
		breathtaking venue can accommodate up to 1,200 guests and features state-of-the-art conference
		 equipment and free Wi-Fi. Let our catering team craft the perfect menu to enhance your gathering.
		  For smaller events, consider our beautifully decorated boardrooms, available for one-on-one 
		  interviews, business meetings, and product presentations. Our on-site dining options make
		   it easy to continue the conversation with clients or colleagues over dinner or drinks. 
		   Contact us today for more information or to request assistance with planning a successful
		    event in one of our meeting rooms.</p>

	<br><br>

	<hr>
		<button type="button" routerLink="Sign In">BOOK NOW</button>
	</div>
	<hr>
		
</body>

</html>