<!DOCTYPE html>
<html lang="en">



<header class="header2 ">
      <div class="container-fluid">
        <div class="row">
            <table >
                <tr>
            <td><div class="col-9 site-logo"  ><a class="navbar-brand" href="#" style="color: yellow; font-size: 45px;">Hoteliers</a></div></td>
            
                
          <td > <button class=" hom12"><a href = " login" style ="color : white; text-decoration : none ;">Home</a></button></td>
          <td ><button class="hom22" ><a href="register" style ="color : white; text-decoration : none ;">Register</a></button></td>
          <td ><button class="hom32" ><a href="contactus" style ="color : white; text-decoration : none ;">Contact Us</a></button></td>
        </tr>    
        </table>
        </div>
      </div>
    </header>          
<body>
<section class = "signup1"><br><br><br><br><br>
<div class="container1 ">
    <br>
                               <br> <img [src] ="image1" length = 120 width = 150/><br>
               
                <form action="login" method="POST">
                
                    <div class="form-group row">
                        
                        <div class="col-10" style = " color : white; font-size : 20px;">
                            <br>Email : <input class="form-control" type="email"  required><br>
                        </div>
                    </div>

                    <div class="form-group row">
                        
                        <div class="col-10" style = " color : white; font-size : 20px;">
                            <br>Username : <input class="form-control" type="text"  required><br>
                        </div>
                    </div>

                    <div class="form-group row">
                        
                        <div class="col-10" style = " color : white; font-size : 20px;">
                            <br>First Name : <input class="form-control" type="text"  required><br>
                        </div>
                    </div>


                    <div class="form-group row">
                        
                        <div class="col-10" style = " color : white; font-size : 20px;">
                            <br>Last Name : <input class="form-control" type="text"  required><br>
                        </div>
                    </div>


                    <div class="form-group row" style = " color : white; font-size : 20px;">
                         <div class="col-10">
                         <br> Password :   <input class="form-control" type="password" required><br><br>
                        </div>
                    </div>
                    
                        
                            

                    <div class="pull-right">
                        <br><button type="Submit" class=" btnsign"><a href = " login" style = "color : white ;  text-decoration : none ;">Sign Up</a></button>
                    </div>

                    </form><br><br>
                   
            </div>
        
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br>

        </section>

<footer class="footer ">
      <div class="container-fluid">
        <div class="row">
            <table >
                <tr>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td><div class="foot"  style="color: white; ">@ 2021 Copyright: By travel agency</div></td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <td > <button class = "bck">Back to top</button></td>
        </tr>    
        </table>
        </div>
      </div>
    </footer>

    
        










</body>
</html>