<!DOCTYPE html>
<html lang="en">


<body >
<header class="header ">
      <div class="container-fluid">
        <div class="row">
            <table >
                <tr>
            <td><div class="col-9 site-logo"  ><a class="navbar-brand" href="#" style="color: yellow; font-size: 45px;">Hoteliers</a></div></td>
            
                
          <td > <button class=" hom1"><a href = " login" style ="color : white; text-decoration : none ;">Home</a></button></td>
          <td ><button class="hom2" ><a href="register" style ="color : white; text-decoration : none ;">Register</a></button></td>
          <td ><button class="hom3" ><a href="contactus" style ="color : white; text-decoration : none ;">Contact Us</a></button></td>
        </tr>    
        </table>
        </div>
      </div>
    </header>





<section class = " signin">
	<br><br><br>
<div class="container ">
                               <br> <img [src] ="image" length = 100 width =100/><br>
               
                <form action="login" method="POST">
                
                    <div class="form-group row">
                        
                        <div class="col-10" style = " color : white; font-size : 20px;">
                            <br>Username : <input class="form-control" type="text"  required><br>
                        </div>
                    </div>
                    <div class="form-group row" style = " color : white; font-size : 20px;">
                         <div class="col-10">
                         <br> Password :   <input class="form-control" type="password" required><br><br>
                        </div>
                    </div>
                    
                        <div class="form-group row" style = " color : white; font-size : 20px;">
                         <div class="col-10">
                        
                            Don't have account ? <button class = "signup"><a href = " login" style = "color : white ;  text-decoration : none ;">SignUp</a></button>
                        
                        </div>
                    </div>
                            

                    <div class="pull-right">
                        <br><button type="Submit" class=" btnsign"><a href = " login" style = "color : white ;  text-decoration : none ;">Sign in</a></button>
                    </div>

                    </form><br><br>
                   
            </div>
        
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br>
</section>

<footer class="footer ">
      <div class="container-fluid">
        <div class="row">
            <table >
                <tr>
            <td><div class="foot"  style="color: white; ">@ 2021 Copyright: By travel agency</div></td>
            
                
          <td > <p  style="color: maroon;"><button class = "bck">Back to top</button></p></td>
        </tr>    
        </table>
        </div>
      </div>
	</footer>
</body></html>